# ======================== Keil MDK ========================
# Listing 文件
*.lst
*.map
*.lnp
*.scr
*.d
*.o
*.obj
*.elf
*.bin
*.hex
*.dbg
*.crf
*._i
*.uvgui.*
*.uvguix.*
*.axf
*.htm
*.dep
*.iex
*.i
*.__i

# Objects 文件夹
Objects/
RTE/
EventRecorderStub.scvd
# JLink 日志
JLinkLog.txt
